<h1>About us</h1>
</br>
<p>LiveWire Club under the Dpt. Of Applied Sciences  initiated in 2022 turned out to be a great success as it's main agenda was to highlight and showcase the talent of every deserving candidate by providing them with a platform. We have conducted several outreach events which included an Open Mic and fundraising for street dogs. We believe that team effort turns out to be quite inspiring when executed with proper strategy. Speak with no Fear is the viewpoint we want to express</p>
</br>
NOTE: This website is under development. If you want to contribute, contact the live wire core team
</br>