<h1>Welcome to the official website of your favourite LIVE WIRE CLUB, GNDEC.</h1>

</br>
<div style="text-align: center;">
<img src="<%= asset_path('Layer.png') %>" alt="Live Wire" width="200" height="200">
</div>
</br>



