<h1>Editing member</h1>

<%= render "form", member: @member %>
</br>
<div>
  <%= link_to "Show ", @member, class:"btn btn-dark" %> 
  <%= link_to "Go Back", members_path, class:"btn btn-dark" %>
</div>
